body, html{
	padding: 0;
	margin: 0;
	background-color: #fffdef;
	/*#F5F9F7*/
	background-image: -webkit-linear-gradient(top left, #fced5e, #fbf3a1);
	background-image: -o-linear-gradient(top left, #fced5e, #fbf3a1);
	background-image: linear-gradient(to bottom right, #fced5e, #fbf3a1);
}
body{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
form{
	position: relative;
	background-color: #fff;
	padding: 20px 60px;
	padding-top: 215px;
	/*box-shadow: 0 0 3px rgba(0,0,0,0.3);*/
	overflow: hidden;
	border: 6px solid rgba(255,229,1,0.3);
	border-radius: 4px; 
}
form .round-bg{
	position: absolute;
	top: -455px; left:-15%;
	width: 130%;
	height: 650px;
	border-radius: 1950px;
	box-shadow: 0 2px 4px rgba(90,90,90,0.29);
}
form .form-header{
	text-align: center;
	margin-top: -140px;
	margin-bottom: 100px;
	font-family: georgia;
}
form .form-header h1{
	font-size: 1.7em;
	font-family: verdana;
	text-transform: uppercase;
	color: #6ECC9C;
	color: #ffe501;
}
form .link{
	font-weight: bold;
	display: inline-block;
	color: #888;
	position: absolute;
	right: 30px;
	top: 30px;
	font-family: verdana;
}
form .input-wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 30px;
}
form .input-wrapper span,
form .input-wrapper select,
form .input-wrapper input{
	flex: 1;
}
form .input-wrapper select, 
form .input-wrapper input{
	margin-left: 20px;
	background-color: transparent;
	border: none;
	font-size: 18px;
	border-bottom: 1px solid #bbb;
	min-width: 220px;
	outline: none;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
form .input-wrapper select:focus, 
form .input-wrapper input:focus{
	border-bottom: 1px solid #333;
}
form input[type="submit"], form button{
	background-color: transparent;
	border: 1px solid #999;
	display: block;
	width: 100%;
	text-transform: uppercase;
	padding: 12px 0;
	font-size: 16px;
	color: #444;
	margin-bottom: 22px;
}
form input[type="submit"]{
	background-color: #e91e63;
	color: #fff;
	border: 1px solid #ad1457;
}